body {
    font-family: comic sans ms, cursive;
    background-color: aquamarine;
}

div {
    background-color: aqua;
    width: 100%;
    border: 5px solid green;
    padding: 1px;
    color: blue;
    font-family: comic sans ms, cursive;
    font-size: 60px;
}

button {
    background-color: #4CAF50;
    font-family: comic sans ms, cursive;
    font-size: 30px;
}

img {
    position: absolute;
    bottom: 0;
}
